# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/
.venv/
ENV/

# IDE / Editor settings
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Database files
*.sqlite3
*.db

# .env files for environment variables
.env

# Python packaging
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.cache/
